@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --primaryColor: #1d5781;
  --secondaryColor: #ffffff;
  --colorbackground: #e6e8fc;
  --editButtonColor: #fb7d5b;
  --deleteButtonColor: #ff4917;
}

body {
  margin: 0 auto;
  font-size: 14px;
  font-family: "Poppins", sans-serif !important;
}
